.btn {
    min-width: 261px;
    height: 45.2px;
    background: #EBE26B;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    color: #000000;
    cursor: pointer;
    position: relative;
    transition: all .2s ease .01s;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 16px;
        z-index: -1;
        transition: all .2s ease .01s;
    }
    &:hover {
      transition: all .2s ease .01s;
        background: linear-gradient(317.11deg, #0C0C0C 0%, #2B2B2B 100%);
        border: 1px solid #EBE26B;
        color: #EBE26B;
        &:before {
          transition: all .2s ease .01s;
            opacity: 1;
        }
    }
    &.form__btn {
        margin-top: 13px;
        width: 305px;
    }
    &.infoblock__btn {
        min-width: 305px;
        height: 49.13px;
    }
    &.warranty__btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        min-width: 305px;
        height: 49.13px;
    }
}

// .gradient-button {
//     font-size: get-vh(18px);
//     line-height: get-vh(68px);
//     padding: 0 get-vh(60px);
//     position: relative;
//     background: linear-gradient(83.9deg, #FF7272 7.97%, #EE3D48 79.26%);
//     border-radius: 16px;
//     &:before {
//       z-index: 1;
//       left: 0;
//       top: 0;
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       content: '';
//       opacity:0;
//       transition: opacity .3s ease;
//       border-radius: 16px;
//       background: linear-gradient(83.9deg, #EE3D48 7.97%, #FF7272 79.26%);
//     }
//     span {
//       z-index: 2;
//     }
//     &:hover {
//         &:before {
//           opacity: 1;
//         }
//       }
//   }