.btn {
    min-width: 261px;
    height: 45.2px;
    background: #EBE26B;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    color: #000000;
    cursor: pointer;
    position: relative;
    transition: all .2s ease;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 16px;
        z-index: -1;
        transition: all .2s ease;
    }
    &:hover {
        transition: all .2s ease;
        background: linear-gradient(317.11deg, #0C0C0C 0%, #2B2B2B 100%);
        border: 1px solid #EBE26B;
        color: #EBE26B;
        &:before {
            transition: all .2s ease;
            opacity: 1;
        }
    }
    &.form__btn {
        margin-top: 13px;
        width: 305px;
    }
    &.infoblock__btn {
        min-width: 305px;
        height: 49.13px;
    }
    &.warranty__btn {
        display: block;
        margin: 60px auto 0;
        min-width: 305px;
        height: 49.13px;
    }
}