.companies {
    padding: 108px 0 101px;
    background: linear-gradient(0deg, rgba(16, 16, 16, 0.84), rgba(16, 16, 16, 0.84)), url(../img/bg/companiesbg.jpg) center center/cover no-repeat;
    &__title {
        margin-bottom: 118px;
        font-weight: 500;
        font-size: 4.2rem;
        text-align: center;
        text-transform: uppercase;
    }
    &__slider {
        width: 1100px;
        margin: 0 auto;
        padding-bottom: 120px;
        display: block;
        position: relative;
        overflow: hidden;
        .my-slick-prev {
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(-35%);
            width: 50px;
            height: 50px;
            
            background-color: inherit;
            border: 2px solid #E0B76E;
            border-radius: 100%;

            z-index: 10;
            outline: none;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                top: 14px;
                left: 17px;
                width: 9px;
                height: 17px;
                background: url(../img/icons/arrow.svg) center center/cover no-repeat;
            }
            &:hover {
                background-color: #E0B76E;
                transition: all .5s;
                &::before {
                    transform: rotate(180deg);
                    background: url(../img/icons/arrowhover.svg) center center/cover no-repeat;
                }
            }
            
        }
        .my-slick-next {
            position: absolute;
            bottom: 0px;
            right: 50%;
            transform: translateX(135%);
            width: 50px;
            height: 50px;

            background-color: inherit;
            border: 2px solid #E0B76E;
            border-radius: 100%;

            z-index: 10;
            outline: none;
            cursor: pointer;
            transition: all .5s;

            &::before {
                content: '';
                position: absolute;
                top: 14px;
                left: 20px;
                width: 9px;
                height: 17px;
                transform: rotate(180deg);
                background: url(../img/icons/arrow.svg) center center/cover no-repeat;
            }
            &:hover {
                background-color: #E0B76E;
                transition: all .5s;
                &::before {
                    transform: rotate(0deg);
                    background: url(../img/icons/arrowhover.svg) center center/cover no-repeat;
                }
            }
        }
        &_item {
            width: 151.5px;
            height: 151.5px;
            margin: 0 20px;
            &.slick-active {
                opacity: .5;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 85%;
                    height: 85%;
                    transition: all .2s ease;
                }
            }
            &.slick-center {
                opacity: 1;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all .2s ease;
                }
            }
        }
    }
}